* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.logo a {
  text-decoration: none;
  color: white;
}
.navlist ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlist li {
  list-style: none;
}
.navlist a {
  padding: 6px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
.navlist a:hover {
  color: rgb(226, 214, 214);
}
.container {
  display: grid;
  grid-template-rows: repeat(2, 230px);
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 25px auto 45px auto;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}
.box1 {
  grid-row-start: 1;
  grid-row-end: 3;
  background: url(images/1.jpg);
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(60deg, rgba(41, 36, 36, 0.699), rgba(0, 0, 0, 0.61)); */
  cursor: pointer;
}
.box1:hover{
 
  transition: 0.2s;

}
.textarea {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 420px;
  margin-left: 25px;
  /* z-index: 100; */
}
.textarea button {
  padding: 2px 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.textarea p {
  font-size: 1.9rem;
  font-weight: bold;
}
.box2 {
  background: url(images/trading.jpg);
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 3;
  cursor: pointer;
}
.box3 {
  background: url(images/pexels-thisisengineering-3861969.jpg);
  background-size: cover;
  /* opacity: 0.7; */
  cursor: pointer;
}
.box3items {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 200px;
  margin-left: 20px;
}
.box3items button {
  padding: 2px 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.box3items p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.box4 {
  /* background-color: rgb(241, 143, 14); */
  background: url(images/pexels-yaroslav-shuraev-4472968.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.box4items {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 200px;
  margin-left: 20px;
}
.box4items button {
  padding: 2px 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.box4items p {
  color: rgb(240, 240, 243);
  font-size: 2rem;
  font-weight: bold;
}
.slider {
  display: grid;
  /* background-color: burlywood; */
  width: 90%;
  margin: 10px auto 40px auto;
  grid-template-rows: repeat(1, 300px);
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.listitems1 {
  background: url(images/pexels-luis-gomes-546819.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.textarea1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 250px;
  margin-left: 20px;
}
.textarea1 button {
  padding: 2px 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.textarea1 span {
  color: white;
  font-size: 1.4rem;
}
.listitems2 {
  background: url(images/pexels-pixabay-164745.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.listitems3 {
  background: url(images/jametlene-reskp-_aw4PrkJS3o-unsplash.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.listitems4 {
  background: url(images/pexels-cottonbro-4709364.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.menu-items {
  /* background-color: grey; */
  display: grid;
  width: 90%;
  margin: 10px auto 20px auto;
  grid-template-rows: repeat(2, 400px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.item1 {
  background: url(images/pexels-pixabay-373076.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.textitem {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 350px;
  margin-left: 20px;
}
.textitem p {
  font-size: 1.2rem;
}
.item2 {
  background: url(images/1.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.item3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(75, 68, 68, 0.63);
}
.item3 small{
  font-size: 2.5rem;
  line-height: 4rem;
}
.item4 {
  grid-column-start: 1;
  grid-column-end: 3;
  background: url(images/pexels-belle-co-1000445.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.textitem1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 400px;
  margin-left: 20px;
}
.textitem1 p {
  font-size: 1.2rem;
  color: white;
  margin: 20px 30px;
}
.mini-carousel {
  display: grid;
  grid-template-rows: repeat(1, 250px);
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 10px auto 40px auto;
  grid-gap: 10px;
}
.carousel1 {
  background-color: rgb(99, 103, 104);
}
.carousel2 {
  background-color: rgb(13, 54, 68);
}
.carousel3 {
  background-color: rgb(221, 160, 160);
}
.recent-area {
  display: grid;
  width: 90%;
  grid-template-rows: repeat(3, 250px);
  grid-template-columns: repeat(0, 1fr);
  margin: 10px auto 40px auto;
  grid-gap: 20px;
}
.recent1 {
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 0 5px 0 rgba(75, 68, 68, 0.63);
}
.recent img {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(75, 68, 68, 0.63);
}
.recent-msg h1 {
  font-size: 1.8rem;
}
.recent-msg {
  padding-left: 40px;
}
.recent-msg button {
  padding: 3px 10px;
  margin-top: 10px;
  cursor: pointer;
}
.recent2 {
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 0 5px 0 rgba(75, 68, 68, 0.63);
}
.recent3 {
  background-color: rgba(255, 255, 255, 0.897);
  display: flex;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 0 5px 0 rgba(75, 68, 68, 0.63);
}
.bottom {
  display: grid;
  grid-template-rows: repeat(1, 250px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: black;
}
.bottom1 {
  display: flex;
}
.social-icons {
  display: flex;
  flex-direction: column;
}
.social-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  padding: 8px;
  margin-top: 10px;
}
.fab {
  /* color: white; */
  font-size: 40px;
  margin: 0 10px;
  color: white;
  cursor: pointer;
}
.social-items p {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 20px;
}
.bottom2 {
 margin-top: 20px;
}
.bottom2 h1{
  color: white;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.cat-items .fas{
font-size: 25px;
color:white;
cursor: pointer;
margin-top: 10px;
}
.cat-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-top: 23px;
}

.cat-items span{
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;

}

.bottom3 {
  /* background-color: moccasin; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.bottom3 form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom3 form .name {
  padding: 4px 20px;
  margin: 5px;
  border-radius: 5px;
  width: 100%;
}
.bottom3 form .email {
  padding: 4px 20px;
  border-radius: 5px;
  width: 100%;
}
.bottom3 form .text {
  padding: 4px 20px;
  margin: 5px;
  border-radius: 5px;
  width: 100%;
  height: 130px;
}
.bottom3 form .btn {
  padding: 2px 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.bottom4 {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom4 p {
  color: white;
  text-transform: capitalize;
}

